<!-- import base html -->
{% extends "vorlage.html" %}

{% block content %}

    <!-- start of content -->

    <div class="row">
    <div class="col">

    <h2>Noch nicht registriert?</h2>

<form action="/eingabe" method="POST">
            <input type="email" name="input_email" placeholder="Gib deine E-Mail ein."><br>

    <input type="text" name="input_name" placeholder="Dein Pfadiname">
        <br>
        <input type="number" name="input_jahrgang" placeholder="Welcher Jahrgang hast du?">
        <br>

        <label for="kurs">Dein letzter Kurs?</label>
        <br>
        <select name="input_kurs">
            <option value=""disabled selected hidden>Kurs wählen
            <option value="keiner">keiner</option>
            {% for kurs in kurse %}
            <option value="{{ kurs['name'] }}">{{ kurs['name'] }}</option>

            {% endfor %}
        </select>
        <br>
        <input type="number" name="input_jahr" placeholder="In welchem Jahr hast du diesen Kurs gemacht?">
        <br>
        <button type="submit">Eingabe speichern</button>
    </form>

        </div>

    <div class="col">
        <h2>Bereits registriert?</h2>
        <form action="/empfehlung" method="POST">
            <input type="email" name="input_email" placeholder="Gib deine E-Mail ein."><br>
            <button type="submit">Empfehlung zeigen</button>

        </form>
        {{ error }}


    </div>

        </div>

    <!-- end of content -->


{% endblock %}