<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
</head>
<body>
    <form method = "post">
        <input type="text" name="nummer_input" placeholder="Deine Nummer">
        <br>
        <input type="text" name="jahrgang" placeholder="Welcher Jahrgang hast du?">
        <br>
        <input type="text" name="kurs" placeholder="Welcher Kurs hast du als letztes gemacht?">
        <br>
        <input type="text" name="jahr" placeholder="In welchem Jahr hast du diesen Kurs gemacht?">
        <br>
        <button type="submit">Aktivität speichern</button>
    </form>


</body>
</html>