<!-- import base html -->
{% extends "vorlage.html" %}

{% block content %}

<!-- start of content -->


<h2>Neuer Kurs anlegen</h2>
<p> Fehlt ein Kurs in der Datenbank? Dann lege ihn doch hier an.</p>

<form action="/neuer_kurs" method="POST">
    <input type="text" name="input_name" class="form-control" placeholder="Kursname"><br>

    <input type="text" name="input_jahrgang" class="form-control" placeholder="Jahrgang">
    <br>
    <input type="text" name="input_gueltigkeit" class="form-control" placeholder="Gültigkeit">
    <br>
    <input type="text" name="input_voraussetzung" class="form-control" placeholder="Voraussetzung">
    <br>
    <input type="text" name="input_fortsetzung" class="form-control" placeholder="Fortsetzung">
    <br><br>

    <button type="submit" class="btn btn-info">Kurs speichern</button>
</form>


{{ success }}

<!-- end of content -->


{% endblock %}